/* Standard Cascading Style Sheet File, part of the Ceylan-Myriad Project.
 * This file corresponds to the CSS for the generated API documentation.
 */


/* Created: 24 May 2003
 * Author: Olivier Boudeville (olivier (dot) boudeville (at) esperide (dot) com)
 *
/* Updated: Michal Guerquin (michalg@gmail.com) */



.literal {
  color: #462113;
  font-weight: bold;
}


body {
  color: #000000;
  background-color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 3%;
}


p {
  margin-top: 0%;
  margin-bottom: 0.5%;
  background-color: #ffffff;
   /*margin-left: 2%;*/
}


/* needs to leave room at the top for shortcut panel */
h1 {
  color: #910909;
  font-size: 32px;
  background: transparent;
  font-weight: bold;
  margin-left: -0.2in;
}



h2 {
  /*color: #0010FF;*/
  color: #910909;
  font-size: 24px;
  background: transparent;
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: -0.2in;
 }


h2.indextitle {
  padding-top: 0.4em;
  padding-left: 2em;
  background-color: #dddddd;
}


h3 {
  color: #652a2a;
  font-size: 17px;
  background: transparent;
  margin-left: 0%;
  margin-top: 2em;
  margin-bottom: 1em;
}


h3.function,h3.typedecl {
	background-color: #d0d0d0;
	padding-left: 0.5em;
}



h4 {
  color: #3161fc;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 7%;
  font-weight: bold;
}


h5 {
  color: #1c3071;
  font-size: 16px;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}


h6 {
  color: #FF0000;
  font-size: 15px;
  margin-left: 30%;
  margin-right: 5%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}





/*
dl {
  color: #000000;
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 16px;
  margin-left: 8%;
  text-align: left;
  font-weight: bold;
  margin-right: 2%;
}
*/


div.spec {
	margin-left: 2em;
	background-color: #ddddee;
	text-align: left;
	margin-bottom: 1%;
}


ul.definitions {
	list-style-type: none;
}

ul.index {
	list-style-type: none;
	font-size: 16px;
	background-color: #eeeeee;
}


/*
dt {
  color: #000000;
  background: black;
  font-weight: bold;
}


dd {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 3%;
}
*/


ul {
  color: #353535;
  text-align: left;
  list-style: square;
  margin-right: 0%;
}


ul li {
  color: #333333;
}


ol li {
  color: #333333;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}



tt {
  font-size: 14px;
  padding-left: 0.5em;
  margin-bottom: 0.5%;
  font-family: monospace, serif;
  color: #000000;
  background-color: #efefef;
}


pre {
  font-family: monospace, serif;
  margin-left: 4%;
  white-space: pre;
}


table {
  color: #000000;
  margin: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: solid;
  border-width: thin;
  border-collapse: separate;
  border-spacing: 5pt;
}


table caption {
 font-size: 15px;
 caption-side: bottom;
 text-align: center;
 font-style: italic;
}


table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  margin-left: 0;
  margin-right: 0;
}


tr {
   font-family: arial, helvetica, sans-serif;
   font-size: 15px;
   border:thin;
}


th {
   color: #222222;
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}


td {
   background: #eeeeee;
   font-size: 15px;
}


a img {
 border: none;
 border-color: #000000;
}


dt a:link {
  font-weight: bold;
  font-size: 5px;
  color: #ededed;
}



td a {
  font-size: 15px;
}


a.index {
  text-decoration: underline;
}


a:link {
  color:#910909;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
  /*font-size: 110%;  */
}


a:visited {
  color: #945f5f;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}


a.module {
	text-decoration:none
}

a.module:hover {
	background-color: #eeeeee;
}

a:link {
  color:#910909;
  background: transparent;
  text-decoration: none;
  /*font-size: 110%;  */
}


a:visited {
  color: #743f3f;
  background: transparent;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

ul.index a {
	/*font-weight: bold;*/
	background-color: #eeeeee;
}


code {
  color: #4F0F0F;
  font-size: 17px;
  font-weight: normal;
  font-family: Courier, serif;
  background: #e1e1e1;
  /* disabled:
  border-left-style: solid;
  border-left-width: 3px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
  */
}


b {
  color: #570101;
  font-size: 15px;
  font-weight: bold;
}
