/* This document is a part of Sim-Diasca (see http://sim-diasca.com). */
/* Standard Cascading Style Sheet File */


/* Created: Tuesday, June 25, 2019 */

/* Author: Olivier Boudeville (olivier (dot) boudeville (at) edf (dot) fr) */
/* Updated:  Michal Guerquin (michalg@gmail.com) */


pre.code {
  background: #f1dede;
}


.literal {
  color: #570101;
  font-weight: bold;
}


/* For command printouts: */
.literal-block {
  background: #ebdcdc;
  text-align: left;
}


div.box {
  color: #777777;
  background: #FFFFFF;
  border: solid;
  padding: 5px;
  border-width: thin;
  text-align: left;
}


.topic {
  font-weight: bold;
  margin-left: 2%;
}


div.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


body {
  color: #000000;
  background: #FFFFFF;
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  text-indent: 1%;
  text-align: left;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}


/* At least most titles are hyperlinks, thus changing for example colors in h1,
   h2, etc. is often useless.
 */


h1.Huge {
  color: #AA00FF;
  background: transparent;
  font-size: 70px;
  font-weight: bold;
  font-family: Verdana, serif;
  margin-top: 0%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}


h1.Big {
  color: #FF0000;
  font-family: "Lucida Sans Unicode", serif;
  font-size: 40px;
}


/* needs to leave room at the top for shortcut panel */
h1 {
  color: #000000;
  font-size: 35px;
  background: transparent;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}


h2 {
  color: #666666;
  font-size: 27px;
  background: transparent;
  text-align: left;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}


h3 {
  color: #444444;
  font-size: 22px;
  background: transparent;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 7%;
  margin-right: 4%;
}


h4 {
  color: #9d6969;
  font-size: 21px;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 7%;
  font-weight: bold;
}


h5 {
  color: #652a2a;
  font-size: 16px;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}


h6 {
  color: #a05a5a;
  font-size: 15px;
  margin-left: 30%;
  margin-right: 5%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}


h7 {
  color: #555555;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 5%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}


div.Visited {
  color: #CCCCCC;
  font-size: 20px;
}


dl {
  color: #000000;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 16px;
  margin-left: 8%;
  text-align: left;
  font-weight: bold;
  margin-right: 2%;
}


dt {
  color: #eeeeee;
  background: #a00000;
  font-weight: bold;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}


dd {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0%;
  margin-bottom: 2%;
}


p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: justify;
  text-indent: 2em;
}


ul {
  color: #353535;
  margin-top: 1%;
  margin-left: 1%;
  text-align: left;
  list-style: square;
  margin-right: 0%;
}


ol {
  color: #353535;
  margin-top: 1%;
  margin-left: 1%;
  text-align: left;
  list-style: decimal;
  margin-right: 0%;
}


ul li {
  color: #333333;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}


ol li {
  color: #333333;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}


ul ul li {
  list-style: circle;
}


ul ul ul li {
  list-style: disc;
}


pre {
  font-family: monospace, serif;
  margin-left: 4%;
  white-space: pre;
}


table {
  color: #000000;
  margin: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: solid;
  border-width: thin;
  border-collapse: separate;
  border-spacing: 5pt;
}


table caption {
 font-size: 15px;
 caption-side: bottom;
 text-align: center;
 font-style: italic;
}


table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  margin-left: 0;
  margin-right: 0;
}


div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }


tr {
   font-family: arial, helvetica, sans-serif;
   font-size: 15px;
   border:thin;
}


th {
   color: #222222;
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}


td {
   background: #dddddd;
   font-size: 15px;
}


p.top {
  background: #0000FF;
  margin-left: 1%;
  margin-right: 1%;
}


blockquote {
  margin-left: 8%;
  margin-right: 8%;
  //background: #dddddd;
  border: thin ridge #eeeeee;
 }


blockquote pre {
  margin-left: 1%;
  margin-right: 1%;
}


a img {
 border: none;
 border-color: #000000;
}


dt a {
  font-weight: bold;
  color: #EFEFEF;
  margin-top: .8em;
}


dt a:visited {
  font-weight: bold;
  color: #BABABA;
  margin-top: .8em;
}


td a {
  font-weight: bold;
  font-size: 15px;
}


a:link {
  color:#b00000;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
  /*font-size: 110%;  */
}


a:visited {
  color: #834e4e;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
}


a:hover {
  text-decoration:underline;
}


code {
  color: #444444;
  font-size: 17px;
  font-weight: normal;
  font-family: Courier, serif;
  /* disabled:
  background: #00FF00;
  border-left-style: solid;
  border-left-width: 3px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
  */
}


b {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}


/* Taken from http://www.w3.org/Style/Examples/007/menus.html */

div.banner {
  background: #910909;
  margin: 0;
  font-size: 70%;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  position: fixed;
  top: 1em;
  left: auto;
  width: 11em;
  right: 1em;
}


div.banner p {
  color: #00FF00;
  background: #777777;
  margin-left: 0em;
  padding:  0em;
  font-family: Arial, sans-serif;
  border: thin outset #000000;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}


div.banner a, div.banner em { display: block; margin: 0em; }
div.banner a, div.banner em { border-top: 1px groove #000000; } /* separator */
div.banner a:first-child { border-top: none; }
div.banner em { color: #FFFFFF; font-weight: bold; } /* head of column */

div.banner a:link { color: #EEEEEE; text-decoration: none;  }
div.banner a:visited { color: #CCCCCC; text-decoration: none;  }
div.banner a:hover { color: #000000; background: #FFFFFF;  }
