# Listing path patterns that shall be ignored by git:
*.beam
include/*.hrl
*.traces
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump
overview.edoc
doc/index.html
doc/api-doc/
doc/mathjax

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/wooper.app.src

# Generated:
conf/rebar.config
doc/Ceylan-WOOPER-Layer-technical-manual-english.html
doc/Ceylan-WOOPER-Layer-technical-manual-english.rst
