# Configuration for WOOPER of Erlang_LS, the LSP adaptation for Erlang; for
# example useful for Emacs.
#
# Refer to http://myriad.esperide.org/#erlang-ls


# Path to the OTP installation.
#
# $HOME would probably not be translated, however this path seems to be
# automatically determined, supposedly based on the one of 'erl' or other
# element:
#
#otp_path: "$HOME/Software/Erlang/Erlang-current-install/lib/erlang"


deps_dirs:
  # Necessary for Erlang/OTP:
  - "lib/*"
  - "../myriad"
diagnostics:
  enabled:
    - compiler
    - crossref
  disabled:
    - dialyzer
    - elvis
include_dirs:
  - "include"

#  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
    - server-info
  disabled:
    - show-behaviour-usages
    - function-references

# Shall be synchronised with the defines:
#macros:
#  - name: DEFINED_WITH_VALUE
#    value: 42
#  - name: DEFINED_WITHOUT_VALUE
#code_reload:
#  node: node@example
