% This a test configuration file for the Traces layer.
[

  % Settings for the 'traces' application:
  { traces, [

	% Supporting this not deemed useful:
	% { trace_aggregator_registration_name, "my_test_trace_aggregator" },

	{ trace_aggregator_registration_scope, local_only}
	%{ trace_aggregator_registration_scope, global_only}

			] }

].